.header__links {
    margin-bottom: 6px;
    display: flex;   /* тут был абсолют
                    надо завязывать с версткой по ночам :-( */
}

@media screen and (max-width: 767px) {
    .header__links {
        margin-bottom: 8px;
    }
}