.place__paragraph {
    font-size: 18px;
    line-height: 163%;  /* РАДИ БОГА ПОМОГИТЕ, я не могу никак для 320 сделать так, чтобы текст ложился ровно как в макете, при этом сохранив заданные отступы */
    margin: 0 0 26px;
}

.place__paragraph:last-child {
    margin: 0;
}

@media screen and (max-width: 1279px) {
    .place__paragraph {
        margin: 0 0 27px;
    }
}

@media screen and (max-width: 1023px) {
    .place__paragraph {
        font-size: 16px;
        margin: 0 0 25px;
    }
}
